/* Importations */
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap');


/* Initial configuration */
* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
    color: #fff;
    font-family: 'Koulen', 'cursive';
}

a {
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 3rem;
    padding: 0.75rem;
    background-color: #BA09BB;
    color: #fff;
}

a:hover {
    background-color: #E063E0;
}

a:active {
    background-color: #851086;
}

p,
a,
h3 {
    font-family: 'Inter', sans-serif;
    color: #fff;
}

body {
    background-color: #DC21DC;
}

/* Ultilities */
.small-font {
    font-size: 14px;
    font-weight: 300;
}

.text-center {
    text-align: center;
}

.content {
    display: grid;
    max-width: 330px;
    margin: 0 auto;
    gap: .3rem;
}

.content a {
    margin-top: 2rem;
}

.fit_img {
    object-fit: contain;
}

.fit_img2 {
    height: 400px;
}

.bold {
    font-weight: bold;
}

/* Home */
#home {
    position: relative;
    overflow: hidden;
    background-image: url('../media/background.png');
    background-size: auto;
    background-repeat: no-repeat;
}

#initial-content {
    position: relative;
    z-index: 2;
}

#initial-content img{
    margin: 0 auto;
    max-width: 600px;
}

img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

#neon {
    position: absolute;
    width: 500%;
    top: -155%;
    left: -300%;
    z-index: 1;
    animation: rotate 10s linear infinite;
}

#logo {
    display: flex;
    flex-direction: column;
}

#logo span {
    color: #FFE34A;
    font-family: 'Inter', sans-serif;
}

#logo span:nth-child(1) {
    font-weight: 200;
}

#logo span:nth-child(2) {
    font-weight: bold;
}

#elementEl{
    height: 172px;
}

@media (min-width: 768px) {
    #home{
        padding: 5rem 0;
        background-size: contain;
    }

    #initial-content{
        display: flex;
        padding-right: 5%;
    }

    #neon{
        width: auto;
        top: -1300px;
        left: -1000px;
    }
}

/* Learning */
#learning {
    padding-top: 2rem;
}

/* Mockups */
#mockups {
    padding: 6rem 0;
    background-image: url('../media/views-mockup.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;

    display: grid;
    gap: 8rem
}

.mockups__content {
    display: grid;
    gap: 2rem;
}

.mockups__content2 {
    display: grid;
    gap: 2rem;
    margin: 0 auto;    
}

/* Time is ending */
#time-is-end {
    display: grid;
    background-color: #FFD233;
    place-items: center;
}

#time-is-end h1 {
    padding: 5rem 0;
    text-align: center;
}

@media (min-width: 768px) {
    #mockups img{
        max-width: 524px;       
    }

    .mockups__content{
        display: grid;
        gap: 100px 195px;
        position: relative;
        margin: 0 auto;        
        grid-template-areas: 
        "start ."
        ". end";
    }

    .mockups__content2 {
        display: grid;
        gap: 2rem;
        margin: 0 auto;
        grid-template-areas:     
        "text"
        "img";
    }

    .abs_mock_img{
        position: absolute;
        top: 100px;
        left: 150px;
    }

    .grid1{
        grid-area: start;
    }

    .grid2{
        grid-area: end;
    }

    .grid3{
        grid-area: text;
    }

    #initial-content{
        display: flex;
        padding-right: 5%;
    }

    #neon{
        width: auto;
        top: -1300px;
        left: -1000px;
    }
}


/* Who is */
#who-is {
    display: grid;
    position: relative;
    gap: 2rem;
    padding-bottom: 3rem;
    background-image: url('../media/raissa-who-is.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#who-is h1 {
    font-weight: 400;
    font-family: 'Inter';
}

#who_img {
    position: relative;    
}

#who_img img {
    position: relative;
    z-index: 2; 
}

.glow,
.glow2 {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    background-color: transparent;
}

.glow {
    top: 60%;
    left: 30%;
    background: linear-gradient(45deg, #FFD700, #FF69B4, #9400D3);
    animation: glowAnimation 10s ease-in-out infinite;
}

.glow2 {
    top: 50%;
    left: 60%;
    background: linear-gradient(45deg, #FF1493, #FF6347, #00FF7F);
    animation: glowAnimation2 5s ease-in-out infinite;
}

@media (min-width: 768px){
    #who-is{
        display: flex;
        background-image: url('../media/raissa-who-is-desktop.png');        
        background-repeat: no-repeat;
        background-size: cover;
        padding: 6rem 10%;
    }

    #who_img{
        transform: scale(1.4);
    }

    
}

/* Animation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes glowAnimation {

    0%,
    100% {
        box-shadow:
            0 0 120px 100px #FFD700,
            0 0 140px 120px #FF69B4,
            0 0 160px 140px #9400D3;
    }

    50% {
        box-shadow:
            0 0 95px 75px #FFD700,
            0 0 125px 95px #FF69B4,
            0 0 105px 125px #9400D3;
    }
}

@keyframes glowAnimation2 {

    0%,
    100% {
        box-shadow:
            0 0 120px 100px #FFD700,
            0 0 140px 120px #FF69B4,
            0 0 160px 140px #9400D3;
    }

    50% {
        box-shadow:
            0 0 95px 75px #FFD700,
            0 0 125px 95px #FF69B4,
            0 0 105px 125px #9400D3;
    }
}

#elementEl::after {
    content: '|';
    margin-left: 5px;
    animation: blink 0.7s;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }